.modal-dialog{
  background-color: #ffffff;
  padding: 10px 10px 10px 10px;
}
.alert{
  margin:auto;
}
.reader{
  width: 80%;
  top:45%;
  left:40%;
  height:90%;
  transform: translate(-50%, -50%) !important;
  overflow-y: auto;
}
.form{
  width: 800px;
  top: 20px;
  height:auto;
}
.confirm{
  top: 200px;
  width: 400px;
  height:auto;
}
.alert{
  margin:auto;
  text-align: center;
}
.form, .confirm{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) !important;
}
#home .navbar {
  margin-bottom: 0;
  border-radius: 0;
}
#message{
  position: fixed;
  top: 5px;
  width: 60%;
  margin-left:20%;
  z-index: 99999999;
}
footer {
  background-color: #f2f2f2;
  padding: 25px;
}
.btn{
  box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
.link{
  margin: 5px 5px 5px 5px;
  padding: 5px 5px 5px 5px;
}
.btn:hover{
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}
#home .carousel-inner img {
  width: 100%; /* Set width to 100% */
  margin: auto;
  min-height:200px;
}

  /* Hide the carousel text when the screen is less than 600 pixels wide */
@media (max-width: 600px) {
  .form, .confirm, .reader{
    width: 90%;
    top:50%;
    left:50%;
    height:90%;
    transform: translate(-53%, -50%) !important;
    overflow-y: auto;
  }
  #home .carousel-caption {
    display: none;
  }
  .container h1{
    display: none;
  }
}

#home-icon{
    max-width: 1000px;
    margin:auto;
}
.btn-home{
  min-width: 300px;
}
html {
  background-color: #fff;
}
textarea {
  min-width: 250px;
}
